.msg-right-side {
  display: flex;
  width: 100%;
  min-width: 300px;
  gap: 24px;
}

.msg-right-side__detail-wrap {
  width: 100%;
}

@media (min-width: 768px) {
  .msg-right-side__detail-wrap {
    width: 20vw;
  }
}
