.detail-stat {
  width: 100%;
  max-width: 24rem;
  border-width: 1px;
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 16px;
}

.detail-stat--loading {
  max-height: 100%;
  overflow-y: auto;
}

.detail-stat__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detail-stat__row--mb {
  margin-bottom: 4px;
}
